:root{
    --font-color: #ffffff;
}

h1, h3,{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-color);
}


html, body
{
    width: 100%;
    height: 100%;
}

body {
    background: no-repeat  linear-gradient(to top, #c79081 0%, #dfa579 100%);
}