:root{
    --font-color: #ffffff;
}

h1, h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-color);
    text-align: center;
}


html, body
{
    width: 100%;
    height: 100%;
}

body {
    background:  linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

img{
    display: block;
    margin: 20px auto;
    width: 400px;
}

.email:visited{
    color: white;
}

.email {
    color: white;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.email:hover{
    color: purple;
}